# Bot Token
.env

# Auto Launcher
MilkLauncher.bat

# CodeQl Workflow
.github/workflows/codeql-analysis.yml

# Irrelevant Settings
.vscode/settings.json

# Testing File
test.py

# User/Guild Details
*.json

# pycache
*.pyc

# Pylint
.pylintrc
